* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.shows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 15%;
  margin-left: 15%;
}
.show-wrap {
  width: 130px;
  height: 200px;
  margin: 3px;
  background-color: darkgrey;
}
.show-img {
  width: 130px;
  height: 200px;
}
